 {% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<p>Room: {{ id }}</p><br>

<form name="form" action="#" method="POST" onsubmit="return formValidate();" >
{% if player == None %}
    <p>Name:</p>
    <input type="text" id="txtName" name="usr_name"><br>
{% endif %}
    <p>Room Options:</p>
    <p>Max players: <input type="number" name="max_players" ></p>
    <p>Room name: <input type="text" name="room_name" ></p>
    
    <button type="submit" value="submit" id="create">Create Room</button>
</form>


<script>
    function formValidate() {
        const form = document.forms["form"];
        const nameInput = form["usr_name"];    
        const numberInput = form["max_players"];    
        const roomNameInput = form["room_name"];    

        let allInputsCorrect = true;
        if(nameInput != undefined) {
            let name = nameInput.value.trim();
            allInputsCorrect &= name != "";
        }

        let numberOfPlayers = parseInt(numberInput.value);
        allInputsCorrect &= numberOfPlayers >= 2;

        let roomName = roomNameInput.value.trim();
        allInputsCorrect &= roomName != "";
        
        if(!allInputsCorrect) alert("You have to fill out all inputs!");

        return allInputsCorrect;
    }
</script>

{% endblock %}
