{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js" integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ==" crossorigin="anonymous"></script>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% endblock %}

{% block body %}
<strong>The room {{ room.name }} is full. You can't join!</strong>

<p>Room members: </p> 

<ul id="memberList" >
    {% if members != None %}
        {% for name, leader in members %}
            {% if leader %}
                <li> {{ name }} 👑 </li>
            {% else %}
                <li> {{ name }} </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
{% endblock %}
