{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js" integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ==" crossorigin="anonymous"></script>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

{% if player != None %}
    <script src="{{ url_for('static', filename='js/room.js') }}" ></script>
{% endif %}

{% endblock %}

{% block body %}
<p>You are in room <strong>{{ room.name }}</strong> with id <strong>{{ room.roomId }}</strong></p><br>

<div>
    <div id="current_member_count">0</div> / {{room.max_players}}
</div>
<ul id="memberList" >
    {% if members != None %}
        {% for name, leader in members %}
            {% if leader %}
                <li> {{ name }} 👑 </li>
            {% else %}
                <li> {{ name }} </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>

{% endblock %}
